.create-form-modal {
    height: 750px;
    width: auto;
    overflow:scroll;
}

.become-host-button {
    background-color: white;
    color: gray;
    font-size: 16px;
}

.become-host-button:hover {
    background-color: #F9F6F5;
}