.delete-modal {
    height: 300px;
    width: auto;
    overflow:scroll;
    margin: 10%;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    /* border: 1px red solid; */
}