.delete-modal {
    height: 200px;
    width: 300px;
    /* overflow:scroll; */
    /* margin: 10%; */
    margin: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0px; */

    flex-wrap: wrap;
    
    /* border: 1px red solid; */
}