.write-review-div {
    width: 100%;
}

.write-review-button {
    border: 1px solid gray;
    align-items: flex-start;
}

.review-modal {
    margin: 0;
}

.review-stars {
    width: 80%
}
.review-text {
    width: 80%
}