.edit-booking-form-on-current {
    width: 600px;
}

.img-card  {
    width: 300px;
    height: 250px;
    border-radius: 10%;
}

.booking-card-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}
#spot-name {
    font-size: 18px;
    font-weight: bold;
}

.bookings-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.booking-card {
    padding: 5px;
}