.single-spot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20%;
}
.singleSpot-card-details {
    width: 100%;
}
.ss-preview-img {
    width: 100%;
    
    height: 600px;
    border-radius: 15px;
    /* padding-bottom: 15px; */
    object-fit: cover;
}

.singleSpot-name {
    color: black;
    font-size: 32px;
    /* border: 1px yellow solid; */
}

.single-spot-stars{ 
    font-size: 14px;
    /* border: 1px red solid; */
    /* padding-bottom: 10px; */
}

.hosted-by-content {
    font-size: 24px;
    padding-top: 10px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px red solid; */
    /* border: 2px solid black; */
}

.singleSpot-description {
    color: gray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;

}

.delete-modal {
    display: flex;
    flex-direction: row;
}

/* .spot-avg-reviews {
    /* font-weight: 00; 
} */
.create-review-div {
    width: 100%
}

.edit-delete-buttons {
    width: 100%
}
.hosted-by-cont {
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
}
.booking {
    /* width: 30% */
    align-items: flex-end;
}
.spot-host-sent {
    width: 300px;
}