.single-spot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.ss-preview-img {
    width: 600px;
    height: 600px;
    border-radius: 15px;
    /* padding-bottom: 15px; */
    object-fit: cover;
}

.singleSpot-name {
    color: black;
    font-size: 32px;
    /* border: 1px yellow solid; */
}

.single-spot-stars{ 
    font-size: 14px;
    /* border: 1px red solid; */
    /* padding-bottom: 10px; */
}

.hosted-by-content {
    justify-content: space-around;
    font-size: 24px;
    padding-top: 10px;
    /* border: 2px solid black; */
}

.singleSpot-description {
    color: gray;
    width: 750px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
}

.delete-modal {
    display: flex;
    flex-direction: row;
}

/* .spot-avg-reviews {
    /* font-weight: 00; 
} */