/* TODO Add site wide styles */
button {
    background-color: #ff385c;
    color: white;
    border-radius: 12%;
    text-align: center;
    margin: 10px 3px;
    border: none;
    padding: 10px 30px;
}

 html, body, input, textarea, button {
    font-family: 'Arial';
    font-size: 16px;
}

form {
    width:200px;
    padding: 20px;
    margin: 30px;
    border: 1px black solid;
    border-radius: 3%;
}

.spots-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
 order: 5;
 align-self: center;
 
}
