.spots-container {
    /* padding-right: 2px;
    padding-left: 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    /* margin-right: 8px; */
    margin-left: 8px; 
}

.card-image {
    width: 300px;
    border-radius: 10%;
    height: 300px;
    object-fit: cover;
}

.spotcard-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    width: 100%;
    margin: 0px;
    /* height: 300px; */
    flex-wrap: wrap;
    /* border: 1px redsolid; */

}

.card {
    width: 300px;
    padding: 5px;
    border-radius: 10%;
}

.spot-card-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}
.spot-card-details {
    margin-left: 15px;
    
}
.avg-rating {
    margin-right: 15px;
}

.spot-card-location {
    color: gray;
}

.spot-price {
    font-size: 20px;
    
}