.spots-container {
    padding: 5px;
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

.spots-cards {
    width: 250px;
    border-radius: 10%;
}

.img-card {
    width: 300px;
    padding: 5px;

}