.booking-form{
    /* border: 1px red solid; */
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    padding: 20px;
    align-items: center;
    justify-content: center;

    /* width: 50%; */
    
}
.booking-spot-info-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot-price {
    font-size: 24px
}
.spot-price-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.booking-spot-review-info {
    display: flex;
    flex-direction: row;
    /* border: 1px purple solid; */
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}
.num-reviews {
padding-left: 7px;

}
/* .spot-avgstar  {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    width: 30px;
} */
#calendar-left {
    width: 40%;
    border-radius: 12px 1px 1px 12px;
    border: 1px gray solid;
}
#calendar-right {
    width: 40%;
    border-radius: 1px 12px 12px 1px;
    border: 1px gray solid;
}
.calendar-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.reserve-button {
    background-color: #ff385c;
    color: white;
    border-radius: 12px;
    border: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}