
.topnav-container {
    /* border: 1px green solid; */
    /* margin: 0;
    padding: 0; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 50px;
    height: 150px;
    background-color: red;
    position: fixed;
    width: 100%;
}

.profile-dropdown {
    /* border: 1px solid black; */
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    position: fixed;
    z-index: 10;
    overflow: hidden;
    margin-right: 100px;
    background-color: white;
    width: 150px;
    padding: 1%;
}

.profile-button {
    /* position: absolute; */
    /* padding-right: 50px; */
    /* margin-right: -500px;  */
    /* margin: 0px; */
    margin-left: -120px;
    margin-top: 70px;
    /* padding-left: 100px; */
    /* position: fixed; */
    background-color: white;
    color: white;
    border-radius: 15px;
    text-align: center;
    border: none;
    padding: 0px;
    align-items: center;
}
/* .profile-button>img {
    width: 100px;
} */
.become-host-button {
    /* background-color: yellow; */
    color: gray;
    margin-left: -70px;
}
.become-host-button:hover {
    background-color: #EFF5F7
}
.logout-button {
    background-color: white;
    color: black;
    font-size: 16px;
    /* padding: 0px; */
    width: auto
}
.logout-button:hover {
    background-color: #EFF5F7;
}
