.login-button {
    color: gray;
    border: 0.5px solid gray;
}
.demo-user {
    border: 0.5px solid gray;
}
.form-login-modal {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-modal-inputs {
    width: 80%
}