.spot-avg-reviews {
    padding-top: 20px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    width: auto;
    /* border: 1px solid red */
}

.true-review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid yellow; */
}
.review-card {
    display: flex;
    flex-direction: row;
    width: 400px;
    /* border: 5px solid blue */
}


.reviews-contained {
    display: flex;
    flex-direction: row;
}
